// Actions merhardising-grid
.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button{
    margin-left: 10px;
    background-color: rgb(246, 115, 246);
    color: white;
    padding: 6px;
    border: none;
    border-radius: 3px;
}
    input{
    padding: 6px;
    border-radius: 3px;
    border: none;
    background-color: rgb(243, 245, 245);
}
}