/* Etiqueta  */
*{font-family: 'Oswald', sans-serif;
    font-weight: $mainFontWeight;}
*{box-sizing: border-box;}

html{font-size: 100%;
    margin: 0px 10px}

body{background-color: rgb(24, 24, 24);
    background-repeat: repeat;
    background-attachment: fixed;
    height: auto;
        }

h1 {color: $mainColor;
        font-size: $textXl;
        background-color: $backgroundColor2;
        border-color: $borderColor;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px;
        border-radius: $borderRadius;
}

#h2{color: $colorH2;
    font-size: $textXl;
    background-color: $backgroundColor2;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    border-radius: $borderRadius;
}

h2 {color: $colorH2V1;
    font-size: $textL;
    }


h3 {color: $colorH3;
    font-size: $textM;
    }

#p{color:$color3;
    font-size: $textM;
    font-weight: $mainFontWeight;
    font-style: $mainFont;
}

p {color: $colorPar;
    font-size: $textS;
    text-align: center;
    font-weight: $secundaryFontWeight;
    line-height: 1.3em;
    }

a:hover{color: brown;
        }

label {color: white;
        }

.texto-center{text-align: center;
            }

.img-redondeo{border-radius: $borderRadius;
              }

.font-size-a{font-size: $textS;
            }


header img {display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
            }

// borrar cuando este doncacines bien armado
.table {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

div table tr th {color: $color1;}
div table tr td {color: $color4;}

//Contenedor especial
.contenedor{background-color: $backgroundColorCon ;
    margin: 10px 0px ;
    padding: 0px 0px;
    border-style: $borderStyle;
    border-radius: $borderRadius;}


// Hover
.imagen-ampliable:hover {
        transform: $transformMain;
      }

//Boostrap Inicio
.btn:hover{
        background-color: $backgroundColor3;
        color: green;}
.btn{color: $color2;
        background-color: $backgroundColor2;}
.card-body{
        text-align: center
    }
.navbar-toggler{
        color:black
    }
    
@media screen and (max-width: 991px) {
        .small-screen {
          display: none;
        }
      } 
