//Filters Merchar-grid
.filters{
    padding: 0 20px 30px 30px;
    a{
        color: rgb(63, 6, 63);
        font-size: 1.3em;
        text-decoration: none;
        margin-bottom: 4px;
        text-transform: lowercase;
    }   
    a:hover{
            color:brown;
    }
    span{
        display: block;
        color: rgb(0, 0, 0);
        margin: 10px 0;
        letter-spacing: 1px;
    }
    select{
        color: blue;
        border: outset;
        background-color: white;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 1.4em;
    }
    li{
        padding-left: 0px;
        margin-left: 25px;
        list-style: none;
        list-style-image: url(../img/iconos/king-poring-1-unscreen.gif);
    }
}