.video{ display: flex;
    justify-content: center;
    align-items: center;
    height: auto;}
    .video iframe {margin: 20px 0px;
                    width: 50%;
                    height: 400px;
                    }

@media (max-width: 768px) {
    .images-container {
        grid-template-columns: repeat(2, 1fr);
        }
    }
                      
@media (max-width: 480px) {
    .images-container {
        grid-template-columns: repeat(1, 1fr);
        }
    }
                            