.video{ display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    }
    .video iframe {margin: 20px 0px;
                    width: 50%;
                    height: 400px;
                    }