//Nav dar variables
.nav{background-color: rgb(47, 77, 21);
    border-style: $borderStyle;
    border-radius: $borderRadius;
    height: auto;
    position:sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px;
    ul{padding: 0px 20px;
        list-style: none;
        display: flex;
        list-style-image: url(../img/iconos/king-poring-1-unscreen.gif);
        li{margin-right: 30px;
            a{ font-size: $textS;
                color: $mainColor;
               text-decoration: none;
            }
        }
    }
    img { width: 200px;
    }
}

//

                            
