//Variables Global
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

//Selector universal

//Variables Global

//Colors
$mainColor: rgb(243, 180, 6);
$colorH2:rgb(243, 180, 6);
$colorH2V1:brown;
$colorH3: rgb(243, 180, 6);
$color1:white;
$color2: black;
$color3: rgb(47, 77, 21);
$color4: yellow;
$colorPar: whitesmoke;

$backgroundColorCon: rgba(56, 23, 47, 0.5) ;
$backgroundColorCon2: skyblue;
$backgroundColor2: rgb(47, 77, 21);
$backgroundColor3: red;

//Fonts
$mainFont:'Oswald', sans-serif;

//TextSizing
$textS: 1.2em;
$textM: 1.5em;
$textL: 2em;
$textXl: 3em;
$textVa: 4em;


//FontWeight
$mainFontWeight:400;
$secundaryFontWeight:200;

//Border
$borderRadius: 10px;
$borderStyle: solid;
$borderColor: black;

//Image
$maxWidthMain: 100%;
$transformMain: scale(1.5);